<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Club Calendar</title>
    <link rel="stylesheet" type="text/css" href="/assets/Style.css">
     <link rel="title icon" type="image/png" href="/assets/colorado-mesa-logo.png">
    <link href="//fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
    <header>

        <div class="logo">
            <img src="/assets/colorado-mesa-logo.png">
        </div>

        <div class="headtit">
            <h1><span>Club Calendar</span></h1>
            <!--<img src="LoginImages/cce7e979-783a-49da-a126-7bf8855ba52e.png">-->
        </div>

        <nav>
            <a href="/dashboard"><button class="button" style="vertical-align:middle"><span> <i class="arrow left"></i> Back to Calendar  </span></button></a>
        </nav>

        </header>


        <section class="CreateEvent-Section">

            <h1>Enter the event details</h1>
            <%- include ./partials/messages %>
            <form action="/events/createevent" method="POST">
                <div class="form-group">
                <label for="club" id = "ClubLabel">Club</label>
                    <br>
                <select
                    type="club"
                    id="club"
                    name="club"
                    class="form-control"
                >
                <option value = "7Thunders"> 7 Thunders </option>
                <option value = "ACM">Association for Computing Machinery</option>
                <option value = "AccountingClub">Accounting Club</option>
                <option value = "Aggies">Aggies</option>
                <option value = "Alumni">Alumni</option>
                <option value = "Baseball">Baseball</option>
                <option value = "CAB">CAB</option>
                <option value = "CMUTV">CMU-TV Club</option>
                <option value = "CircleK">Circle K International</option>
                <option value = "EngineeringClub">Engineering Club</option>
                <option value = "FaithLife">Faith Life</option>
                <option value = "FishWildlife">Fish and Wildlife Club</option>
                <option value = "Football">Football</option>
                <option value = "GEMS">GEMS</option>
                <option value = "GrandValleyCM">Grand Valley Campus Ministry</option>
                <option value = "Hockey">Hockey</option>
                <option value = "MesaCatholic">Mesa Catholic Campus Ministry</option>
                <option value = "PAC">PAC</option>
                <option value = "ResidenceLife">Residence Life</option>
                <option value = "SignLanguage">Sign Language Club</option>
                <option value = "Soccer">Soccer</option>
                <option value = "StudentLife">Student Life</option>
                <option value = "TableTopGames">Table Top Games</option>
                <option value = "Volleyball">Volleyball</option>
                <option value = "YoungLife">Younf Life Grand Valley</option>
                </select>

                </div>
                <div class="form-group">
                    <label for="startTime" id = "TimeLabel">Time</label>
                    <input
                        type="time"
                        id="startTime"
                        name="startTime"
                        value="12:00"
                        step="900"
                        class="form-control"
                        value="<%= typeof startTime != 'undefined' ? startTime : '' %>"
                    /> 
                </div>
                <div class="form-group">
                    <label for="endTime" id = "ToLabel">To</label>
                    <input
                        type="time"
                        id="endTime"
                        name="endTime"
                        value="13:00"
                        step="900"
                        class="form-control"
                    />
                  </div>
                <div class="form-group">
                <label for="name" id ="NameLabel">Event Name</label>
                    <br>
                <input
                    type="name"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder=" "
                />
                </div>
                <div class="form-group">
                  <label for="description" id = "DescLabel">Description</label>
                    <br>
                  <textarea rows= "15" cols ="35"
                      type="description"
                      id="description"
                      name="description"
                      class="form-control"
                      placeholder=" "
                  >
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="location" id = "LocLabel">Location</label>
                    <input
                        type="location"
                        id="location"
                        name="location"
                        class="form-control"
                        placeholder=" "
                    />
                  </div>
                <div class="form-group">
                  <label for="date" id = "DateLabel">Date</label>
                  <input
                      type="date"
                      id="date"
                      value="2019-04-01"
                      name="date"
                      class="form-control"
                  />
                </div>
                <a href='/dashboard'><button type="button" class="btn btn-primary btn-block" id="cancelBtn">
                Cancel X
                </button></a>
                <button type="submit" class="btn btn-primary btn-block">
                Submit for Approval
                </button>
        </form>
        </section>
        <!--End Third Section-->
        <footer>

        </footer>
    </div>

    <div id="bg-right"></div>
    <div id="bg-left"></div>
    <div id="bg-top"></div>

</body>
</html>
