<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="title icon" type="image/png" href="/assets/colorado-mesa-logo.png">
    <link rel="stylesheet" type="text/css" href="/assets/Style.css">
    <script src ="/assets/CalanderJS.js"></script>
    <link href="//fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>

    <div id="calendar-wrap">
        <header>

            <div class="logo">
            <img src="/assets/colorado-mesa-logo.png">
        </div>

        <div class="headtit">
            <h1><span>Club Calendar</span></h1>
        </div>
        <nav>
                <!-- <button id="Add" class="button" style="vertical-align:middle"><span> Add an Event <i class="fa fa-angle-right" id ="right-carrot"></i> </span></button>
                <span id="MyUser"> -->

        <nav>
            <a href="/events/createevent"> <button id="Add" class="button" style="vertical-align:middle"><span> Add an Event <i class="fa fa-angle-right" id ="right-carrot"></i> </span></button></a>
                <span id="MyUser">
                      <input id="NameDrop" type="checkbox" name="menu"/>
                      <label id="check00" rsfor="NameDrop"><%= user.name%> </label>
                </span>

        </nav>
        </header>

    <div id="sidebar">
        <div class="toggle-sidebar" onclick="toggleSidebar()">
            <i class="fas fa-angle-double-right" style="color:white"></i>
            <i class="fas fa-angle-double-right"></i>
            <i class="fas fa-angle-double-right"></i>
        </div>
        <h2 class="sidebar-header">Edit View</h2>
        <ul id="Begin-List">

            <li><input id="check01" type="checkbox" name="menu"/>
            <label  id="check1" for="check01">Social <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                <ul id="Social-Sublist">
                    <li><input type="checkbox" name="PAC-checkbox"><label for="opt-in">PAC</label></li>
                    <li><input type="checkbox" name="CAB-checkbox"><label for="opt-in">CAB</label></li>
                    <li><input type="checkbox" name="TableTopGames-checkbox"><label for="opt-in">Table Top Games</label></li>
                    <li><input type="checkbox" name="ResidenceLife-checkbox"><label for="opt-in">Residence Life</label></li>
                    <li><input type="checkbox" name="StudentLife-checkbox"><label for="opt-in">Student Life</label></li>
                </ul>
            </li>
            <li><input id="check02" type="checkbox" name="menu"/>
            <label id="check2" for="check02">Sports <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                <ul id="Sport-Sublist">
                    <li><input type="checkbox" name="Soccer-checkbox"><label for="opt-in">Soccer</label></li>
                    <li><input type="checkbox" name="Football-checkbox"><label for="opt-in">Football</label></li>
                    <li><input type="checkbox" name="Volleyball-checkbox"><label for="opt-in">Volleyball</label></li>
                    <li><input type="checkbox" name="Hockey-checkbox"><label for="opt-in">Hockey</label></li>
                    <li><input type="checkbox" name="Baseball-checkbox"><label for="opt-in">Baseball</label></li>
                </ul></li>
            <li><input id="check03" type="checkbox" name="menu"/>
            <label id="check3" for="check03">Academic <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                <ul id = "Academic-Sublist">
                    <li><input type="checkbox" name="AccountingClub-checkbox"><label for="opt-in">Accounting Club</label></li>
                    <li><input type="checkbox" name="ACM-checkbox"><label for="opt-in">Association for Computing Machinery</label></li>
                    <li><input type="checkbox" name="GEMS-checkbox"><label for="opt-in">GEMS</label></li>
                    <li><input type="checkbox" name="SignLanguage-checkbox"><label for="opt-in">Sign Language Club</label></li>
                    <li><input type="checkbox" name="EngineeringClub-checkbox"><label for="opt-in">Engineering Club</label></li>
                </ul></li>
            <li><input id="check04" type="checkbox" name="menu"/>
            <label id="check4" for="check04">Religious <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                <ul id = "Religious-Sublist">
                    <li><input type="checkbox" name="7Thunders-checkbox"><label for="opt-in">7 Thunders Club</label></li>
                    <li><input type="checkbox" name="FaithLife-checkbox"><label for="opt-in">Faith Life</label></li>
                    <li><input type="checkbox" name="GrandValleyCM-checkbox"><label for="opt-in">Grand Valley Campus Ministry</label></li>
                    <li><input type="checkbox" name="MesaCatholic-checkbox"><label for="opt-in">Mesa Catholic Campus Ministry</label></li>
                    <li><input type="checkbox" name="YoungLife-checkbox"><label for="opt-in">Young Life Grand Valley</label></li>
                </ul>
            <li><input id="check05" type="checkbox" name="menu"/>
            <label id="check5" for="check05">Other <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                <ul id = "Other-Sublist">
                     <li><input type="checkbox" name="FishWildlife-checkbox"><label for="opt-in">Fish and Wildlife Club</label></li>
                    <li><input type="checkbox" name="CMUTV-checkbox"><label for="opt-in">CMU-TV Club</label></li>
                    <li><input type="checkbox" name="Aggies-checkbox"><label for="opt-in">Aggies</label></li>
                    <li><input type="checkbox" name="CircleK-checkbox"><label for="opt-in">Circle K International</label></li>
                    <li><input type="checkbox" name="Alumni-checkbox"><label for="opt-in">CMU Alumni Association</label></li>
                </ul></li>
        </ul>
    </div>

        <div id="calendar">
            <div class="Top-Cal">
                <button class="button" style="vertical-align:middle" onclick="window.location.href = '/March2019.html';"> <i class="arrow left"></i>   </button>

                <h2>April</h2>

                <button class="button" style="vertical-align:middle" onclick="window.location.href = '/May2019.html';">    <i class="arrow right"></i>   </button>

                </div>
            <div class="parent">
                    <span class="itemleft">
                        <button class="bs">Week</button>
                        </span>
                   <span class="itemright">
                        <button class="bs">Month</button>
                       </span>

            </div>
            <ul class="weekdays">
                <li>Sunday</li>
                <li>Monday</li>
                <li>Tuesday</li>
                <li>Wednesday</li>
                <li>Thursday</li>
                <li>Friday</li>
                <li>Saturday</li>
            </ul>
            <ul class="days">
                <li class="day-other-month">
                    <div class="date">31</div>
                <li class="day">
                    <div class="date">1</div>
                </li>
                 <li class="day">
                    <div class="date">2</div>
                </li>
                 <li class="day">
                    <div class="date">3</div>
                </li>
                 <li class="day">
                    <div class="date">4</div>
                </li>
                 <li class="day">
                    <div class="date">5</div>
                </li>
                 <li class="day">
                    <div class="date">6</div>
                     <div class="Event">
                         <div class="Event-Name"><span class="dot"></span>     Frisbee</div>
                         <div class="Event-Time">1:00 PM - 3:00 PM</div>
                     </div>
                </li>
            </ul>

            <ul class="days">
                <li class="day">
                    <div class="date">7</div>
                <li class="day">
                    <div class="date">8</div>
                </li>
                 <li class="day">
                    <div class="date">9</div>
                     <div class="Event-Name"><span class="dot"></span> PAC</div>
                         <div class="Event-Time">10:00 AM - 12:00 PM</div>
                </li>
                 <li class="day">
                    <div class="date">10</div>
                </li>
                 <li class="day">
                    <div class="date">11</div>
                </li>
                 <li class="day">
                    <div class="date">12</div>
                </li>
                 <li class="day">
                    <div class="date">13</div>
                </li>
            </ul>

            <ul class="days">
                <li class="day">
                    <div class="date">14</div>
                <li class="day">
                    <div class="date">15</div>
                </li>
                 <li class="day">
                    <div class="date">16</div>
                </li>
                 <li class="day">
                    <div class="date">17</div>
                </li>
                 <li class="day">
                    <div class="date">18</div>
                </li>
                 <li class="day">
                    <div class="date">19</div>
                </li>
                 <li class="day">
                    <div class="date">20</div>
                </li>
            </ul>

            <ul class="days">
                <li class="day">
                    <div class="date">21</div>
                <li class="day">
                    <div class="date">22</div>
                </li>
                 <li class="day">
                    <div class="date">23</div>
                </li>
                 <li class="day">
                    <div class="date">24</div>
                </li>
                 <li class="day">
                    <div class="date">25</div>
                </li>
                 <li class="day">
                    <div class="date">26</div>
                </li>
                 <li class="day">
                    <div class="date">27</div>
                </li>
            </ul>

             <ul class="days">
                <li class="day">
                    <div class="date">21</div>
                <li class="day">
                    <div class="date">22</div>
                </li>
                 <li class="day">
                    <div class="date">23</div>
                </li>
                 <li class="day">
                    <div class="date">24</div>
                </li>
                 <li class="day">
                    <div class="date">25</div>
                </li>
                 <li class="day">
                    <div class="date">26</div>
                </li>
                 <li class="day">
                    <div class="date">27</div>
                </li>
            </ul>

             <ul class="days">
                <li class="day">
                    <div class="date">28</div>
                <li class="day">
                    <div class="date">29</div>
                </li>
                 <li class="day">
                    <div class="date">30</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">1</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">2</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">3</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">4</div>
                </li>
            </ul>

            <ul class="days">
                <li class="day-other-month">
                    <div class="date">5</div>
                <li class="day-other-month">
                    <div class="date">6</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">7</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">8</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">9</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">10</div>
                </li>
                 <li class="day-other-month">
                    <div class="date">11</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="bg-right"></div>
    <div id="bg-left"></div>
    <div id="bg-top"></div>
    <footer>

    </footer>
</body>
</html>
