<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="title icon" type="image/png" href="/assets/colorado-mesa-logo.png">
    <link rel="stylesheet" type="text/css" href="/assets/Style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src ="/assets/CalanderJS.js"></script>
    <link href="//fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>

    <div id="calendar-wrap">
        <header>

            <div class="logo">
            <img src="/assets/colorado-mesa-logo.png">
        </div>

        <div class="headtit">
            <h1><span>Club Calendar</span></h1>
        </div>
        <nav>
                <!-- <button id="Add" class="button" style="vertical-align:middle"><span> Add an Event <i class="fa fa-angle-right" id ="right-carrot"></i> </span></button>
                <span id="MyUser"> -->

        <nav>
            <a href="/events/createevent"> <button id="Add" class="button" style="vertical-align:middle"><span> Add an Event <i class="fa fa-angle-right" id ="right-carrot"></i> </span></button></a>
                <span id="MyUser">
                      <input id="NameDrop" type="checkbox" name="menu"/>
                      <label id="check00" rsfor="NameDrop"><%= user.name%> </label>
                </span>

        </nav>
        </header>

        <div id="sidebar">
            <div class="toggle-sidebar" onclick="toggleSidebar()">
                <!--<span></span>
                 <span></span>
                 <span></span>-->
                <i class="fas fa-angle-double-right" style="color:white"></i>
                <i class="fas fa-angle-double-right"></i>
                <i class="fas fa-angle-double-right"></i>
            </div>
            <h2 class="sidebar-header">Edit View</h2>
            <ul id="Begin-List">

                <!--<li class="SocialDropDown">Social <button id="Social-Drop"><i class="fa fa-angle-double-right"></i></button>-->
                <li><input type="checkbox" id="AllEvents-checkbox"><label for="opt-in">Follow All Events</label></li>
                <li><input id="check01" type="checkbox" name="menu"/>
                <label  id="check1" for="check01">Social <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                    <ul id="Social-Sublist">
                        <li><input type="checkbox" id="AllSocial-checkbox"><label for="opt-in">All Social</label></li>
                        <li><input type="checkbox" id="PAC-checkbox"><label for="opt-in">PAC</label></li>
                        <li><input type="checkbox" id="CAB-checkbox"><label for="opt-in">CAB</label></li>
                        <li><input type="checkbox" id="TableTopGames-checkbox"><label for="opt-in">Table Top Games</label></li>
                        <li><input type="checkbox" id="ResidenceLife-checkbox"><label for="opt-in">Residence Life</label></li>
                        <li><input type="checkbox" id="StudentLife-checkbox"><label for="opt-in">Student Life</label></li>
                    </ul>
                </li>
                <li><input id="check02" type="checkbox" name="menu"/>
                <label id="check2" for="check02">Sports <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                    <ul id="Sport-Sublist">
                        <li><input type="checkbox" id="AllSports-checkbox"><label for="opt-in">All Sports</label></li>
                        <li><input type="checkbox" id="Soccer-checkbox"><label for="opt-in">Soccer</label></li>
                        <li><input type="checkbox" id="Football-checkbox"><label for="opt-in">Football</label></li>
                        <li><input type="checkbox" id="Volleyball-checkbox"><label for="opt-in">Volleyball</label></li>
                        <li><input type="checkbox" id="Hockey-checkbox"><label for="opt-in">Hockey</label></li>
                        <li><input type="checkbox" id="Baseball-checkbox"><label for="opt-in">Baseball</label></li>
                    </ul></li>
                <li><input id="check03" type="checkbox" name="menu"/>
                <label id="check3" for="check03">Academic <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                    <ul id = "Academic-Sublist">
                        <li><input type="checkbox" id="AllAcademics-checkbox"><label for="opt-in">All Academics</label></li>
                        <li><input type="checkbox" id="AccountingClub-checkbox"><label for="opt-in">Accounting Club</label></li>
                        <li><input type="checkbox" id="ACM-checkbox"><label for="opt-in">Association for Computing Machinery</label></li>
                        <li><input type="checkbox" id="GEMS-checkbox"><label for="opt-in">GEMS</label></li>
                        <li><input type="checkbox" id="SignLanguage-checkbox"><label for="opt-in">Sign Language Club</label></li>
                        <li><input type="checkbox" id="EngineeringClub-checkbox"><label for="opt-in">Engineering Club</label></li>
                    </ul></li>
                <li><input id="check04" type="checkbox" name="menu"/>
                <label id="check4" for="check04">Religious <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                    <ul id = "Religious-Sublist">
                        <li><input type="checkbox" id="AllReligious-checkbox"><label for="opt-in">All Religious</label></li>
                        <li><input type="checkbox" id="7Thunders-checkbox"><label for="opt-in">7 Thunders Club</label></li>
                        <li><input type="checkbox" id="FaithLife-checkbox"><label for="opt-in">Faith Life</label></li>
                        <li><input type="checkbox" id="GrandValleyCM-checkbox"><label for="opt-in">Grand Valley Campus Ministry</label></li>
                        <li><input type="checkbox" id="MesaCatholic-checkbox"><label for="opt-in">Mesa Catholic Campus Ministry</label></li>
                        <li><input type="checkbox" id="YoungLife-checkbox"><label for="opt-in">Young Life Grand Valley</label></li>
                    </ul>
                <li><input id="check05" type="checkbox" name="menu"/>
                <label id="check5" for="check05">Other <i class="fas fa-angle-down" id ="down-carrot"></i></label>
                    <ul id = "Other-Sublist">
                        <li><input type="checkbox" id="AllOther-checkbox"><label for="opt-in">All Other</label></li>
                         <li><input type="checkbox" id="FishWildlife-checkbox"><label for="opt-in">Fish and Wildlife Club</label></li>
                        <li><input type="checkbox" id="CMUTV-checkbox"><label for="opt-in">CMU-TV Club</label></li>
                        <li><input type="checkbox" id="Aggies-checkbox"><label for="opt-in">Aggies</label></li>
                        <li><input type="checkbox" id="CircleK-checkbox"><label for="opt-in">Circle K International</label></li>
                        <li><input type="checkbox" id="Alumni-checkbox"><label for="opt-in">CMU Alumni Association</label></li>
                    </ul></li>
            </ul>
        </div>

            <div id="calendar">
                <div class="Top-Cal">
                    <button class="button" style="vertical-align:middle" onclick="window.location.href = '/March2019.html';"> <i class="arrow left"></i>   </button>

                    <h2>April</h2>

                    <button class="button" style="vertical-align:middle" onclick="window.location.href = '/May2019.html';">    <i class="arrow right"></i>   </button>

                    </div>
                <div class="parent">
                        <span class="itemleft">
                            <button class="bs">Week</button>
                            </span>
                       <span class="itemright">
                            <button class="bs">Month</button>
                           </span>

                </div>
                <ul class="weekdays">
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ul>
                <ul class="days"> <!--Week 1 -->
                    <li class="day-other-month">
                        <div class="date">31</div>
                    <li class="day">
                        <div id="1" class="date">1</div>
                    </li>
                     <li class="day">
                        <div id="2" class="date">2</div>
                    </li>
                     <li class="day">
                        <div id="3" class="date">3</div>
                    </li>
                     <li class="day">
                        <div id="4" class="date">4</div>
                    </li>
                     <li class="day">
                        <div id="5" class="date">5</div>
                    </li>
                     <li class="day">
                         <div id="6" class="date">6</div>
                        <div class="Soccer-EVENTS" style = "display: none;">
                             <div><span class="dot"></span> Men's Soccer Match</div>
                             <div class="Event-Time">7:00 PM - 9:00 PM</div>
                             <div class="Event-Location">Walker Field</div>
                             <div class="Event-Desc">CMU Men's Soccer vs Fort Lewis</div>
                         </div>
                    </li>
                </ul>

                <ul class="days"> <!-- Week 2 -->
                    <li class="day">
                        <div id="7" class="date">7</div>
                    <li class="day">
                        <div id="8" class="date">8</div>
                    </li>
                     <li class="day">
                        <div id="9" class="date">9</div>
                         <div class="PAC-EVENTS" style = "display: none;">
                             <div><span class="dot"></span> PAC Meeting</div>
                             <div class="Event-Time">10:00 AM - 12:00 PM</div>
                             <div class="Event-Location">Escalante 211</div>
                             <div class="Event-Desc">Discuss Budget</div>
                         </div>
                         <div class="GEMS-EVENTS" style = "display: none;">
                         <div><span class="dot"></span> GEMS Meeting</div>
                             <div class="Event-Time">5:00 PM - 6:00 PM</div>
                             <div class="Event-Location">Wubben 137</div>
                             <div class="Event-Desc">MCAT Prep</div>
                        </div>
                         <div class = "CAB-EVENTS" style = "display: none;">
                           <div><span class="dot"></span> CAB Meeting</div>
                             <div class="Event-Time">4:00 PM - 4:30 PM</div>
                             <div class="Event-Location">UC Student Life</div>
                             <div class="Event-Desc">Vote for Leaders</div>
                         </div>
                    </li>
                     <li class="day">
                        <div id="10" class="date">10</div>
                    </li>
                     <li class="day">
                        <div id="11" class="date">11</div>
                    </li>
                     <li class="day">
                        <div id="12" class="date">12</div>
                          <div class="Event-Name" id="TableTopGames-EVENTS" style = "display: none;"><span class="dot"></span> Table Top Club Practice</div>
                             <div class="Event-Time">10:00 AM - 12:00 PM</div>
                    </li>
                     <li class="day">
                        <div id="13" class="date">13</div>
                    </li>
                </ul>

                <ul class="days"> <!-- Week 3 -->
                    <li class="day">
                        <div id="14" class="date">14</div>
                    <li class="day">
                        <div id="15" class="date">15</div>
                    </li>
                     <li class="day">
                        <div id="16" class="date">16</div>
                    </li>
                     <li class="day">
                        <div id="17" class="date">17</div>
                    </li>
                     <li class="day">
                        <div id="18" class="date">18</div>
                    </li>
                     <li class="day">
                        <div id="19" class="date">19</div>
                          <div class="PAC-EVENTS" style = "display: none;">
                             <div><span class="dot"></span> Flap Jack Friday</div>
                             <div class="Event-Time">9:00 AM - 11:00 AM</div>
                             <div class="Event-Location">University Center</div>
                             <div class="Event-Desc">Free Pancakes to Students!</div>
                         </div>
                    </li>
                     <li class="day">
                        <div id="20" class="date">20</div>
                    </li>
                </ul>

                <ul class="days"> <!-- Week 4 -->
                    <li class="day">
                        <div id="21" class="date">21</div>
                    <li class="day">
                        <div id="22" class="date">22</div>
                    </li>
                     <li class="day">
                        <div id="23" class="date">23</div>
                    </li>
                     <li class="day">
                        <div id="24" class="date">24</div>
                    </li>
                     <li class="day">
                        <div id="25" class="date">25</div>
                    </li>
                     <li class="day">
                        <div id="26" class="date">26</div>
                    </li>
                     <li class="day">
                        <div id="27" class="date">27</div>
                    </li>
                </ul>

                 <ul class="days"> <!-- Week 5 -->
                    <li class="day">
                        <div id="28" class="date">28</div>
                    <li class="day">
                        <div id="29" class="date">29</div>
                    </li>
                     <li class="day">
                        <div id="30" class="date">30</div>
                    </li>
                     <li class="day-other-month">
                        <div class="date">1</div>
                    </li>
                     <li class="day-other-month">
                        <div class="date">2</div>
                    </li>
                     <li class="day-other-month">
                        <div class="date">3</div>
                    </li>
                     <li class="day-other-month">
                        <div class="date">4</div>
                    </li>
                </ul>

             </div><!-- End Calendar -->
        </div> <!-- End Calendar Wrap -->
        <div id="bg-right"></div>
        <div id="bg-left"></div>
        <div id="bg-top"></div>
        <footer>

        </footer>
    </body>
    </html>
