<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Club Calendar</title>
    <link rel="stylesheet" type="text/css" href="/assets/Style.css">
     <link rel="title icon" type="image/png" href="/assets/colorado-mesa-logo.png">
    <link href="//fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
    <div class = "wrapper">
        <header>

        <div class="logo">
            <img src="/assets/colorado-mesa-logo.png">
        </div>

        <div class="headtit">
            <h1><span>Club Calendar</span></h1>
            <!--<img src="LoginImages/cce7e979-783a-49da-a126-7bf8855ba52e.png">-->
        </div>

        <nav>
          <a href="/">  <button class="button" style="vertical-align:middle"><span> <i class="arrow left"></i> Back to Calander  </span></button> </a>
        </nav>

        </header>

        <section class = "Login-Section">
            <h1>Login</h1>
            <% include ./partials/messages %>
            <form action="/users/login" method="POST">
                <div class="Elements" id ="UserEle">
                    <span class="itemleft">
                        <label for="email">Email</label>
                    </span>
                    <span class="itemright">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                        />
                    </span>
                </div>
                <div class="Elements" id="PassEle">
                    <span class="itemleft">
                        <label for="password">Password</label>
                    </span>
                    <span class="itemright">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                        />
                    </span>

                    <br>
                    
                    <a href="/dashboard"></a><button type="submit" class="btn btn-primary btn-block" style="vertical-align:middle"><span>Login<i class="arrow right"></i></span></button></a>
                </div>
            </form>
        </section>

        <section class="Revert-To-Sign-Up">
            <h1>Sign Up</h1>
            <p>Making an account allows you to save all your calendar preferences and it also gives you an opportunity to become a contributer to the calender. Let's set up your account!</p>
          <a href="/users/register"><button class="button" style="vertical-align:middle"><span>Sign Up<i class="arrow right"></i> </span></button></a>

        </section>
        <footer>

        </footer>
    </div>
    <div id="bg-right"></div>
    <div id="bg-left"></div>
    <div id="bg-top"></div>
</body>
</html
