<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Club Calendar</title>
     <link rel="title icon" type="image/png" href="/assets/colorado-mesa-logo.png">
    <link href="//fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/calendar_page/Style.css">
    <link rel="stylesheet" type="text/css" href="/assets/Style.css">
</head>
<body>
    <div class="wrapper">
    <header>

        <div class="logo">
            <img src="/assets/colorado-mesa-logo.png">
        </div>

        <div class="headtit">
            <h1><span>Club Calendar</span></h1>
        </div>

        <nav>
            <a href='/dashboard'><button class="button" style="vertical-align:middle"><span> <i class="arrow left"></i> Back to Calendar  </span></button></a>
        </nav>

        </header>


        <section class="ApproveEvent-Section">

             <h1>Approve Events</h1>

            <br>

             <ul class="Approve-Table">
                <li>Event Name</li>
                <li>Date</li>
                <li>Time</li>
                <!-- <li>Description</li> -->
                <li>Organization</li>

                <li>Approve</li>
            </ul>

            <% for(var i=0; i < events.length; i++) { %>
            <%
               dateday = events[i].StartTime.getDate();
               datemonth = events[i].StartTime.getMonth() + 1;
               dateyear = events[i].StartTime.getYear();
               name = events[i].name;
               clubName = events[i].club;

               stimeH = events[i].StartTime.getHours();
               stimeM = events[i].StartTime.getMinutes();
               if (stimeM={}) stimeM = ":00";
               etimeH = events[i].EndTime.getHours();
               etimeM = events[i].EndTime.getMinutes();
               if (etimeM={}) etimeM = ":00";
            %>
            <ul class="AT-Record" id="row-1" >
                <li><%=name%></li>
                <li><%=datemonth + "/" + dateday%></li>
                <li><%=stimeH + stimeM + " - " + etimeH + etimeM%></li>
                <li><%=clubName%></li>
                <li><input type="checkbox"></li>
            </ul>
            <br>
            <br>
            <br>
            <% } %>

            <a href='/dashboard'><button class="button" style="vertical-align:middle"><span>Submit</span></button></a>
        </section>
        <footer>
        </footer>
    </div>

    <div id="bg-right"></div>
    <div id="bg-left"></div>
    <div id="bg-top"></div>

</body>
</html>
